/**
 * Loading Icon
 */
@keyframes rotate1 {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}
@keyframes rotate2 {
  25% { transform: rotate(0deg); }
  50% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}
@keyframes kaboom {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(360deg); }
  76% { transform: scale(1.0); }
  90% { transform: scale(1.3); }
  100% { transform: scale(1.0); }
}
#logo-red {
  transform-origin: 30% 45%;
  animation: rotate1 4s ease infinite;
}
#logo-blue {
  transform-origin: 30% 25%;
  animation: rotate2 4s ease infinite;
}
#logo-softledger {
  transform-origin: 30% 35%;
  animation: kaboom 4s ease infinite;
}